In [3]:
import numpy as np
import pandas as pd 
import plotly.offline as pyo 
import plotly.graph_objects as go

### Read the data to dataframe

In [7]:
df = pd.read_csv("./DataFolder/tips.csv")
df.head()

   week      day  n_peop   bill      tip
0     1  Tuesday    0.67  17.99   2.0000
1     1  Tuesday    1.33  26.05   4.0000
2     1  Tuesday    5.33  79.49  14.3082
3     1  Tuesday    2.67  32.69   5.5000
4     1  Tuesday    1.33  29.97   6.0000